/* import font in to css */
@font-face{

    font-family: 'mySpecialFont';
    src: url('./lilly.otf');
    
}
/* import font in to css */


.wrapper{
    text-align: center;
    font-family: mySpecialFont;
    
}

.box{
    background-color: rgb(226, 225, 225);
    padding: 1em;
    width: 50%;
    height: 300px;
    margin:0 auto;
    border-width: 20px;
    border-style: solid;
    border-image: url('../img/rainbow.jpg') 11 11 round;
}