body{
    margin:0 !important;
    padding: 0 !important;
}
.wrapper{
    padding: 1em;
    
}


.post{
    background-color: gray;
    padding: 1em;
    border-bottom:1px dotted #fff;
}

.post h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.post img{
    width: 100%;
    height: 10vh;

}